.body{
    height: 100%;
    font-family: 'HelveticaNeue';
    line-height: 18px;
    background: #f8f8f8;
    position: relative;
    color: #333;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header-container{
    background-color: #f8f8f8;
}
a {
    text-decoration: none !important;
  }