
.header-container{
    background-color: #f8f8f8;
}
a {
    text-decoration: none !important;
  }
  
  .container {
    margin-right: auto ;
    margin-left: auto ;
    padding-left: 15px ;
    padding-right: 15px ;
    
    @media (min-width: 1200px) {
        width: 1170px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 768px) {
        width: 750px;
    }
}

